# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.next
next-env.d.ts
.dev.vars
.wrangler

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# prevent the build output
.open-next

# Secret files
.env.local
.env.prod
.env.stg

# Test coverage
coverage

# Playwright
playwright-report

## fallow local cache
./fallow

## misc
tsconfig.tsbuildinfo
