@use "sass:map" as map;

:root {
    /* Tailwind-like breakpoint definitions */
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;
    --screen-2xl: 1536px;

    /* Theme colors */
    --text-color: #0A0A0A;
    --dust-grey: #dce0d9;
    --floral-white: #fbf6ef;
    --almond-cream: #ead7c3;
    /* typography */
    --font-weight-base: 300;
    --font-weight-medium: 400;
    --font-weight-strong: 500;
}

$screens: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    '2xl': 1536px,
);

@mixin up($size) {
    $val: map.get($screens, $size);

    @if $val {
        @media (min-width: $val) {
            @content;
        }
    }

    @else {
        @warn "No screen size `#{$size}` found in $screens map.";
    }
}

@mixin down($size) {
    $val: map.get($screens, $size);

    @if $val {
        $max: $val - 0.02px;

        @media (max-width: $max) {
            @content;
        }
    }

    @else {
        @warn "No screen size `#{$size}` found in $screens map.";
    }
}

:global {

    /* Reset / base styles */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html,
    body,
    #root {
        height: 100%;
    }

    body {
        margin: 0;
        font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-weight: var(--font-weight-base);
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--text-color);
        background: var(--floral-white);
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: var(--font-weight-strong);
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }
}