@use '../globals.module' as g;

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar,
.footer {
    border: 1px solid #cfcfcf;
    padding: 0.75rem 1rem;
    /* mobile color */
    background: #f8fafc;
}

.container {
    flex: 1 0 auto;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
}

@include g.respond-to(md) {
    .container {
        max-width: 1100px;
        padding: 2rem;
        margin: 2rem auto;
    }

    .navbar,
    .footer {
        padding: 1rem 2rem;
        /* desktop color */
        background: #eef6ff;
    }
}