@use '@/globals.module' as g;

.container {
    flex: 1 0 auto;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    max-width: 1120px;

    @include g.up(md) {
        padding: 2.5rem 2rem;
    }
}
